<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>

    <cache:annotation-driven cache-manager="cacheManager"/>
    <!-- generic cache manager -->
    <bean id="cacheManager"
        class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean
                    class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                    p:name="default" />

                <bean
                    class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                    p:name="myCache" />
            </set>
        </property>
    </bean>

    <!-- Interceptor configuration -->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.mt.service" />
    <context:component-scan base-package="com.mt.component" />


<!--  we can use name which is same as id to mark this bean as a unique identifier -->
    <bean name="bean1" class="com.mt.component.TestSpringBean">
        <property name="provider" value="20"/>
        <property name="customer" value="peng"/>
    </bean>

<!--  this is spring configure thread pool to enable async method -->
    <task:executor id="myexecutor" pool-size="5"  />
    <task:annotation-driven executor="myexecutor"/>

    <bean name="demo2" class="com.mt.spring.XmlBeanDemo">
        <property name="id" value="200"/>
    </bean>
</beans>
